/* src/Octorok.css */
.octorok {
    transition: background-color 0.2s, width 1s, height 1s; /* Add width and height transition */
    width: 30px;
    height: 30px;
}

    .octorok.hit {
        animation: flash 0.4s steps(4) forwards;
    }

    .octorok.dead {
        width: 1px; /* Shrink to 1px */
        height: 1px; /* Shrink to 1px */
    }

@keyframes flash {
    0%, 100% {
        background-color: white;
    }

    50% {
        background-color: cyan;
    }
}
